<header>
<h1> {{pageTitle}} </h1>
<p><a href= '/'><b>Example page 1 with Vidy</a></p>
<p><a href= '/about'><b>Example page 2 with Vidy and different postid</a><b></p>
<p><a href= '/projects'><b>Example page 3 with Vidy and different postid</a><b></p>
<p><b> Random Video's have been added as Vidys. Each page has its own Vidys and the SDK finds them via each pages unique POSTID. Each page shares the same APPID</b></p>
  
</header>
