<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>about Example</title>
	</head>
	<body>
		{{> header}}
		<div style = "text-align:center;">
			<div style ="font-size:125%">
				<div style ="display: inline-block; text-align: left; color: #333;font-family: 'Montserrat', sans-serif;">
					<div style = "padding-left: 50px; padding-right: 50px">
			<p> Vidy is a brand new, innovating product to embed small video’s, known as Vidys, on to a page's content. Vidys can be ads, social clips or even fun exciting clips, if you're into that kind of stuff. With innovating features such as <i>One-Tap-Buy</i>, Swiping, Interacting, and Shareablity, Vidy is sure to get your page looking great and attracting new traffic everyday.  To get started, simply add the Vidy embed script onto a page’s html script and begin adding Vidys from the Vidy dashboard! Once your Vidys are all added and you like how they look and interact, publish your Vidy(s) on the dashboard and you're all set! It's that simple! Give it a try below!</p>
					</div>
				</div>
			</div>
		</div>
		
    {{> footer }}
	</body>
</html>