<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Projects</title>
	</head>
	<body>
		{{> header}}
		
		<div style = "text-align:center;">
			<div style ="font-size:125%">
				<div style ="display: inline-block; text-align: left; color: #333;font-family: 'Montserrat', sans-serif;">
					<div style = "padding-left: 50px; padding-right: 50px">
						<p> The whole purpose of this example is to show Dynamic vidy integration on all webpages via HBS template.  If your domain is currently using HBS, 
							a simple addition of an HBS template can speed up your intergration on all your pages. The addition of string templates within the HBS template allow for each 
							of the HBS template to have different postid's for each webpage of your domain. The <u>postid's</u> of all the pages of your website must be <u>unique</u>.
							You can visit <a href = "https://github.com/VIDY/embed-web-examples/tree/updated-doc/docs"> The Vidy SDK Documentation</a> for more information!
								<br>
					</div>
				</div>
			</div>
		</div>
		
		</p>
		{{> footer}}
	</body>
</html>
